language: node_js
node_js: node
cache:
  directories:
  - node_modules
deploy:
  provider: heroku
  api_key:
    secure: XzuObkAaGT0ALGBNmfQxZSHmCf4+VpSvzJil/IIBNQHM/tNpBBqqMLN4bo9tjHHPyEhFKVogCntBrIkqcX6q8cEHem+v1z4bpSREOljm1stkWbMZWLfP4mpKumkXefGbw0tBy4sdKZdd3ACUIEeOefL9n7XBITt9KBVnba8pmGo/krR3s1C45v+ZqhGFKU/xciijnB4pzn0VezmWDwHw2aN7dx9L9//UiVuqgCa0B4W/6O9LPMECdRRk6sxS7XT9f20ruP365aI/I06GkeV9Mj6zZzTGBhwDPua63wFItKYeRj57au1IxR7P6K9vL8tN3qtr6j2DfIpLyQXUM9UCWiOaXk+vgDCr8RFEHyr3FiobAVDS3cTJEbuMhUNBuf/591p6mStPh6nsbHwlo2DKiotJTROrieSP6C5g0Y32jpfATl3vpYjEomcr+GyC7rprQZ/hm5DexhMI6eykU/Eo3C0t73vsNU8u4l5PlU6WAbZftP0U7E8MoHSHfzW9QLlMU2OheDKbCIHS6A6fOztvd8VBLkPd3IoXdp5kgtiZRcGH73l0S7YWKZCvWsE0mnaYhros8BtyDirYgSqXsABY0Vf7ythqvRUvNcsOaIefs6eDyuxvQPhGRK690XrGa6IkTtlGM+Ysi0s/2ITzFKvblQ0wFsev6gQ96nctg4mAU9o=
  app: afternoon-reaches-28360
  on:
    repo: oneEyedBunny/Trade-Tally-Client
