
.new-form-fields {
  
}

#create-profile-button {
  font-size: 14px;
  padding: 4px 10px;
}


/************Media queries*****************/
@media only screen and (min-width: 500px) {
  .login-button {
    font-size: 15px;
  }
}
