#new-user-form {
  width: 80%;
  margin: 0 auto;
}

#new-user-fieldset {
  background-color: #D3D3D3;
  border: none;
  border-radius: 5px;
}

.new-form-fields {
  margin: 5px;
  width: 50%;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  font-size: 12px;
}

#create-profile-button {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  padding: 4px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-message-container {
  color: yellow;
}

label {
  float: left;
  /* width: 10em; */
  margin-right: 1em;
}
