#edit-trade-form {
  margin-top: 75px;
}

.edit-trade-fields {
  flex: 2;
}

.edit-trade-form label {
  flex: 1;
}


/*************************Media queries***************************/

@media only screen and (min-width: 700px) {
  #edit-trade-form {
    width: 75%
  }
}

@media only screen and (min-width: 900px) {
  #edit-trade-form {
    width: 55%
  }
}
