.invite-tt {
  text-align: center;
}

.invite-tt h4 {
  width: 65%;
  margin: 0 auto;
}

#invite-friend-form {
  width: 70%;
  margin-top: 35px;
}

#invite-friend-row {
  width: 100%;
}

.invite-friend-fields {
  flex: 2;
}

#invite-friend-form label {
  flex: 3;
}
