.invite-tt {
  text-align: center;
}

.invite-tt-image {
  width: calc(22px + (35 - 22) * ((100vw - 320px) / (1000 - 320)));
  margin: auto
}

.invite-tt h4 {
  padding-top: 40px;
  padding: 10px;
  color: blue;
}

#invite-friend-form {
  width: 80%;
  padding-top: 35px;
}

.invite-friend-fields {
  flex: 2;
}

#invite-friend-form label {
  flex: 3;
}

/*************************Media queries***************************/

@media only screen and (min-width: 700px) {
  #invite-friend-form {
    width: 60%;
  }
}

@media only screen and (min-width: 900px) {
  #invite-friend-form {
    width: 45%;
  }
}
