#login-user-form {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 10px;
  background-color: #D3D3D3;
  animation-duration: .5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left:100%;
  }

  to {
    margin-left:0%;
  }
}

#user-info {
 border: none;
}

.login-form-fields {
  font-size: 2.1vh;
  text-indent: 5px;
}

.demo-info {
  font-size: 2,3vh;
  font-weight: bold;
  display: inline-block;
  margin: 6px 0 0;
  color: blue;
}

.demo-credentials {
  font-size: 2,2vh;
  color: blue;
  margin: 0 6px;
}

/************Media queries*****************/
/* @media only screen and (min-width: 375px) {
  #login-user-form {
   width: 165px
  }
} */
