#login-user-form {
  position: absolute;
  top: 0;
  left: 160px;
  border-radius: 10px;
  background-color: #D3D3D3;
  animation-duration: .5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left:100%;
    /* width:300% */
  }

  to {
    margin-left:0%;
    /* width:100%; */
  }
}

#user-info {
 border: none;
}

#login-user-form label {
  font-size: 14px;
  float: left;
  /* width: 10em; */
  margin-right: 1em;
}

.login-form-fields {
  margin: 5px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  font-size: 12px;
  text-indent: 5px;
}

.demo-info {
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  margin: 6px 0 0;
  color: blue;
}

.login {
  margin: 6px;
  font-size: 12px;
}

/************Media queries*****************/
@media only screen and (min-width: 375px) {
  #login-user-form {
   width: 165px
  }
}
