/******************************* Navigation ********************************/
.navigation-container {
  width: 100%;
  margin-bottom: 50px;
}

/* font size isn't working */
.right-nav-container {
  margin-right: 10px;
  display: inline-block;
  float: right;
}

.left-nav-container {
  display: inline-block;
  margin-top: -10px;
  margin-left: 5px;
}

.logo {
  text-decoration: none;
  color: black;
}

/************Media queries*****************/
@media only screen and (min-width: 500px) {
  .login-button {
    font-size: 15px;
  }
}

@media only screen and (min-width: 550px) {
  .login-button {
    font-size: 17px;
  }
  .logo {
    font-size: 20px
  }
}

@media only screen and (min-width: 650px) {
  .login-button {
    font-size: 20px;
  }
  .logo {
    font-size: 25px
  }
}
