/******************************* Navigation ********************************/
.navigation-container {
  width: 100%;
  margin-bottom: 50px;
}

/* font size isn't working */
.right-nav-container {
  margin-right: 10px;
  display: inline-block;
  float: right;
}

.left-nav-container {
  display: inline-block;
  margin-top: -10px;
  margin-left: 5px;
}

.logo {
  text-decoration: none;
  color: black;
}
