.table-container {
  display: flex;
  justify-content: center;
}

tr, td {
  padding: 10px;
}

#trade-history-table-row-header {
  text-align: left;
}

.trade-history-table-header {
  text-align: left;
  padding: 10px;
  background-color: blue;
  color: white;
}

.trade-balance {
  font-size: calc(16px + (27 - 16) * ((100vw - 320px) / (1000 - 320)));
  font-weight: bold;
  padding-top: 50px;
}
