#trade-history-header {
  margin-bottom: 10px;
}

#trade-partner-name {
  font-size: 16px;
  margin-bottom: 20px;
}

.table-data-history {
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#delete-trade, #edit-trade {
  max-width: 14px;
}
