.table-container {
  display: flex;
  justify-content: center;
}

tr, td {
    padding: 10px;
}

.trade-summary-page-header {
  text-align: center;
}

#trade-summary-table-row-header {
  text-align: left;
}

.trade-summary-table-header {
  text-align: left;
  padding: 10px;
  background-color: blue;
  color: white;
}

#see-trade-history-button {
  color: black;
}

/*************************Media queries***************************/

@media only screen and (min-width: 700px) {
  table {
    width: 90%;
  }
}
