#trade-history-header {
  margin-bottom: 10px;
}

#trade-partner-name {
  font-size: 2.8vh;
  margin-bottom: 20px;
}

.table-data-history {
  font-size: 2.1vh;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#delete-trade, #edit-trade {
  width: 2.3vh;
}
