
.table-data-summary {
  font-size: 14px;
}

table, tbody {
  width: 100%;
}

#trade-summary-data-row {

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#see-trade-history-button {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
