#trade-history-table-row-header {
  text-align: left;
}

.trade-history-table-header {
  text-align: left;
  padding: 10px;
  background-color: blue;
  color: white;
}

.trade-balance {
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1000 - 320)));
  display: inline-block;
  font-weight: bold;
  padding-top: 50px;
}

.total-amount {
  padding-left: 125px;
}
