#trade-history-header {
  padding-bottom: 10px;
  margin: 0;
}

#trade-partner-name {
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1000 - 320)));
  padding-bottom: 30px;
  margin: 0;
}

.table-data-history {
  font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1000 - 320)));
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



/* NEED TO FIX */
#delete-trade, #edit-trade {
  max-width: 35px;
}
