
.table-data-summary {
  font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1000 - 320)));
}

table, tbody {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#see-trade-history-button {
  text-align: center;
  text-decoration: none;
}
