
#trade-summary-table-row-header {
  text-align: left;
}

.trade-summary-table-header {
  text-align: left;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 14px;
}

.link-new-trade {
  color: blue;
  text-align: center;
  margin-top: 30px;
}
