
#trade-summary-table-row-header {
  text-align: left;
}

.trade-summary-table-header {
  text-align: left;
  padding: 10px;
  background-color: blue;
  color: white;
}

#see-trade-history-button {
  color: black;
}
