#trade-history-table-row-header {
  text-align: left;
}

.trade-history-table-header {
  text-align: left;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 14px;
}

.trade-balance {
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
}

.total {
  margin-left: 185px;
}

h6 {
  margin: 5px;
}
