.app {
  margin: 20px;
  /* width: 100%; */
}

.button {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 13px;
  display: block;
  margin: 0 auto;
  padding: 4px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/******************************* home *********************************/
#welcome-message-container {
  margin-top: 200px;
}

.welcome-message-quote {
  margin: 0 auto;
}

.welcome-message {
  margin: 50px 0 150px;

}

/******************************* chevron animation *********************************/
.chevron-container {
 display: flex;
 justify-content: center;
 position: relative;
 align-items: center;
 width: 80%;
 height: 100px;
}

.chevron {
  position: absolute;
  width: calc(0.6rem * 3.5);
  height: calc(0.6rem * 0.8);
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: black;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(calc(0.6rem * 3.8));
 }
 66.6% {
  opacity: 1;
  transform: translateY(calc(0.6rem * 5.2));
 }
 100% {
  opacity: 0;
  transform: translateY(calc(0.6rem * 8)) scale(0.5);
 }
}



/*****************************/
.half-boxs-container {
 display: inline-block;
 width: 100%;
}

.person-gif {
  max-width: 90px;
  padding: 25px;
}

.left-box {
  float: left;
  width: 49.4%;
  background-color: red;


  top: 500px;
  right: 200px;
  animation-duration: 1s;
  animation-name: slidein;
}

.right-box {
  float: right;
  width: 49.4%;
  background-color: blue;

  top: 500px;
  left: 200px;
  /* animation-duration: 1s;
  animation-name: slidein; */
}


/* @keyframes slidein {
  from {
    margin-left:200%;
  }

  to {
    margin-left:0%;
  }
} */

/*****************************/
.options-container {
  margin: 45px 0;
  width: 100%;
  text-align: center;
}

.option-box {
  display: inline-block;
  width: 20%;
  margin: 5px;
  padding: 10px;
  background-color: gray;
}

.option-box-text {
  text-decoration: none;
  color: white
}

/*****************************/
.how-it-works {
  background-color: gray;
  margin-top: 65px;
  padding: 15px;
  text-align: center;
}

.create-account-link:hover {
  color: white;
}

/*****************************/
#footer {
  text-align: center;
}

.footer-info {
  display: inline-block;
  margin: 45px 15px 5px;
}

/***********universal******************/
.error-message-container {
  color: orange;
}
