.app {
  margin: 20px;
  /* width: 100%; */
}

/******************************* General handling across all *********************************/
.button {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 13px;
  display: block;
  margin: 0 auto;
  padding: 6px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.login-button:hover {
  cursor: pointer;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.error-message-container {
  color: orange;
  font-weight: bold;
  text-align: center;
}

form {
  width: 90%;
  margin: 0 auto;
}

.fieldset {
  background-color: #D3D3D3;
  border: none;
  border-radius: 5px;
}

.form-row-container {
 display: flex;
 /* width: 90% */
}

label {
  flex: 2;
  font-size: 14px;
}

input, select, textarea {
  flex: 3;
  margin: 5px;
  padding: 3px;
  width: 85%;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
}

/********************** General- font sizes*****************************/


h3 {
  font-size: 1.4vw;
}

/* @media screen and (min-width: 320px) {
  h3 {
    font-size: calc(20px + (34 - 16) * ((100vw - 320) / (1000 - 320)));
  }
}

@media screen and (min-width: 1000px) {
   h3 {
    font-size: 34px;
  }
} */




/******************************* home *********************************/
#welcome-message-container {
  margin-top: 150px;
}

.welcome-quote {
  margin: 0 auto;
  font-size: 20px;
}

.welcome-message {
  margin: 50px 0 150px;
}

/******************************* chevron animation *********************************/
.chevron-container {
 display: flex;
 justify-content: center;
 position: relative;
 align-items: center;
 /* width: 80%; */
 height: 100px;
 margin-top: -70px;
}

.chevron {
  position: absolute;
  width: calc(0.6rem * 3.5);
  height: calc(0.6rem * 0.8);
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: black;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(calc(0.6rem * 3.8));
 }
 66.6% {
  opacity: 1;
  transform: translateY(calc(0.6rem * 5.2));
 }
 100% {
  opacity: 0;
  transform: translateY(calc(0.6rem * 8)) scale(0.5);
 }
}

/************gif image area*****************/
.half-boxs-container {
 display: flex;
 justify-content: center;
 /* width: 100%; */
 margin-top: 150px;
 /* text-align: center; */
}

.person-gif {
  max-width: 110px;
  padding: 25px;
}

#person-gif-left {
  padding-left: 10px;
}

.left-box {
  /* float: left; */
  width: 50%;
  background-color: red;
}

.right-box {
  /* float: right; */
  width: 50%;
  background-color: #0000FF;
}

/***********3 boxes******************/
.options-container {
  display:flex;
  justify-content: space-around;
  margin: 75px 0;
  /*width: 100%;*/
  text-align: center;
}

.option-box {
  /* display: inline-block;
  width: 20%;
  margin: 5px; */
  padding: 10px;
  background-color: gray;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.option-box:hover {
  border: 2px solid gray
}

.option-box-text {
  text-decoration: none;
  color: white
}

.option-box a {
  text-decoration: none;
  color: white;
}

/**************gray box***************/
.how-it-works {
  background-color: gray;
  margin-top: 135px;
  padding: 15px;
  text-align: center;
}

.how-it-works h3 {
  color: white;
}

.how-it-works-text {
  margin: 20px;
}

.create-account-link:hover {
  color: blue;
}

.what-to-do-gif {
  max-width: 25px;
  margin: -15px;
}

/*****************************/
#footer {
  text-align: center;
}

.footer-info {
  display: inline-block;
  margin: 65px 15px 5px;
}

/************Media queries*****************/

/* @media only screen and (min-width: 410px) {
  .app {
    margin: 22px;
  }
  #welcome-message-container {
    margin-top: 175px;
  }

  .welcome-quote {
    font-size: 22px;
  }
  .welcome-message {
    font-size: 17px;
  }
  #welcome-message-container {
    margin-top: 225px;
  }
}

@media only screen and (min-width: 500px) {
  .app {
    margin: 30px;
  }
  .welcome-quote {
    font-size: 24px
  }
  .welcome-message {
    font-size: 19px
  }
  .person-gif {
    max-width: 130px;
  }
}

@media only screen and (min-width: 535px) {
  .option-box {
    width: 25%;
    padding: 20px 10px;
  }
}

@media only screen and (min-width: 600px) {
  #welcome-message-container {
    margin-top: 200px;
  }
  .chevron-container {
    margin-top: -40px;
  }
  .welcome-message {
      margin: 50px 60px 150px 0;
  }
  .option-box-text {
    font-size: 17px;
  }
  .how-it-works h3 {
    font-size: 25px;
  }
  .how-it-works-text {
    font-size: 20px;
  }
}


@media only screen and (min-width: 651px) {
  .app {
    margin: 40px;
  }
  .welcome-quote {
    font-size: 27px;
  }
  .welcome-message {
    font-size: 22px;
  }
  .chevron-container {
    margin-top: 50px;
  }
  .person-gif {
    max-width: 140px;
    padding: 35px;
  }
  .chevron-container {
    margin-top: -25px;
  }
  .options-container {
    margin: 110px 0;
  }
  .option-box-text {
    font-size: 19px;
  }
  .how-it-works h3 {
    font-size: 27px;
  }
  .how-it-works-text {
    font-size: 22px;
  }
  .footer-info {
    font-size: 15px;
    margin-top: 85px;
  }
}

@media only screen and (min-width: 750px) {
  .app {
    margin: 55px;
  }
  #welcome-message-container {
    margin-top: 300px;
  }
  .welcome-quote {
    font-size: 34px;
  }
  .welcome-message {
    font-size: 28px;
  }
  .chevron-container {
    margin-top: 150px;
  }
  .person-gif {
    max-width: 165px;
    padding: 50px;
  }
  .option-box-text {
    font-size: 22px;
  }
  .how-it-works {
    padding: 25px;
  }
  .how-it-works h3 {
    font-size: 30px;
  }
  .how-it-works-text {
    font-size: 25px;
    margin: 30px;
  }
  .what-to-do-gif {
    max-width: 30px;
  }
  .footer-info {
    font-size: 18px;
  }
}

@media only screen and (min-width: 855px) {
  .app {
    margin: 55px;
  }
  .footer-info {
    font-size: 20px;
  }
} */
