.app {
  margin: 20px;
}
/******************************* home *********************************/
#welcome-message-container {
  /* margin-top: 125px; */
}

.welcome-message-quote {
  margin: 0 auto;
}

.welcome-message {
  margin: 50px 0 150px;

}
/*****************************/
.half-boxs-container {
 display: inline-block;
 width: 100%;
}

.person-gif {
  max-width: 100px;
  padding: 44px;
}

.left-box {
  float: left;
  width: 49.4%;
  background-color: red;
}

.right-box {
  float: right;
  width: 49.4%;
  background-color: blue;
}

/*****************************/
.options-container {
  margin: 45px 0;
  width: 100%;
  text-align: center;
}

.option-box {
  display: inline-block;
  width: 25%;
  margin: 5px;
  padding: 10px;
  background-color: gray;
}

.option-box-text {
  text-decoration: none;
  color: white
}

/*****************************/
.how-it-works {
  background-color: gray;
  margin-top: 65px;
  padding: 15px;
  text-align: center;
}

/*****************************/
#footer {
  text-align: center;
}

.footer-info {
  display: inline-block;
  margin: 45px 15px 5px;
}
