body {
  margin: 0;
  padding: 0;
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1000 - 320)));
  font-family: 'Nunito', serif;
  background: url('http://thecodeplayer.com/uploads/media/geometry.png');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 1000px) {
  body {
   font-size: 30px
  }
}
